# AirBnb Listings

##### Step 1 - Import necessary libraries

In [1]:
#First we need to import the libraries we will be using for this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as px

#### Step 2 - Import data and create a pandas dataframe

In [49]:
listings = pd.read_csv(r'data/listings.csv')
calendar = pd.read_csv(r'data/calendar.csv')
reviews = pd.read_csv(r'data/reviews.csv')

/var/folders/z6/xpqctckx1ks_tdnrj1427t780000gn/T/ipykernel_38224/1902356659.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar = pd.read_csv(r'data/calendar.csv')

### PREPROCESS

#### Step 3 - Get general information of the dataset

In [50]:
# Use the head() method to display the first few rows of the data.
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2595,2024-09-05,f,$225.00,NaN,30.0,1125.0
1,2595,2024-09-06,f,$225.00,NaN,30.0,1125.0
2,2595,2024-09-07,f,$225.00,NaN,30.0,1125.0
3,2595,2024-09-08,f,$225.00,NaN,30.0,1125.0
4,2595,2024-09-09,f,$225.00,NaN,30.0,1125.0

In [51]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13702107 entries, 0 to 13702106
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 731.8+ MB

In [54]:
calendar.isnull().sum() / calendar.shape[0] * 100

listing_id         0.000000
date               0.000000
available          0.000000
price              0.000000
adjusted_price    99.997336
minimum_nights     0.000036
maximum_nights     0.000036
dtype: float64